
// THIS FILE IS ONLY USED FOR TESTS, SET YOUR DATA IF YOU NEED UNIT TEST

exports.mockUser = {
  school: '',
  name: '',
  birthday: '',
  area: '',
  password: '',
};


  
// -
// -
// ----------------------------------------------------------
// ---           DON'T MODIFY BELOW THIS LINE             ---
// ----------------------------------------------------------
// -
// -

if (
  !exports.mockUser.name
) {
  throw new Error(`you need to set up mock data in order to run test!
  please open ${__filename} and set up your data`);
}
